{% extends "webpage/base.html" %}
{% load relations %}
{% block scriptHeader %}
{% relations_css %}
{% endblock %}
{% block scripts2 %}
<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 800px;">
    <div id="modal-here" class="modal-content">
    </div>
  </div>
</div>
{% endblock scripts2 %}
